---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{{ site.url }}/</loc>
        <priority>1.0</priority>
    </url>
    {%- for chapter in collections.chapters %}
    <url>
        <loc>{{ site.url }}{{ chapter.url }}</loc>
        <priority>0.8</priority>
    </url>
    {%- endfor %}
</urlset>
